body {
    background: #333;
    color: #999;
    margin: 0;
}
.container {
    z-index: 100;
    position: relative;
    margin: auto;
}

#alertBox {
    width: 300px;
    height: 200px;
    background: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px #111;
    margin-top: -220px;
    text-align: center;
    z-index: 1000;
    position: absolute;
}